# --- Python (Backend) ---
backend/venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd

# --- Node.js (Frontend) ---
frontend/node_modules/
frontend/package-lock.json

# --- Логи и временные данные ---
debug_log.txt
scanner_debug.log
backend/scanner_debug.log

# --- Кэш, дебаг и скриншоты ---
# Удаляем RapidOCR целиком, кроме конфигурационных файлов, если они есть
RapidOCR/snapshot_*/
RapidOCR/debug_*.png
RapidOCR/*.log

# --- Бэкапы и IDE ---
nppBackup/
.vscode/
.idea/

# --- Временные файлы ---
temp_scans/
*.bak

# --- Авто-сборка ---
build_temp/
Releases/
build_number.txt